body {
    /* background-image: url(file:///C:/Users/felip/Downloads/livrito.jpg); */
    background-image: url("./imagens/image.jpeg");
    background-attachment: fixed; background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
    background-position:0.1vmax;
}
/* USEI BUTTON AO INVES DE LINK NO INDEX2 ENTÃO COLOQUEI O BUTTON COM O MESMO ESTILO DO INPUT*/
input, button {
    border-radius: 20px;
    background-color: white;
    border-width: 0px;
    font-size: x-large;
    font-family: sans-serif;
}
::placeholder {
    text-align: center;
     font-size: 13px;
}
div {
    text-align: center;
}
ul {
    text-align: center;
    font-size: 30px;
    color:white;
    list-style-position: inside;
}
