body {
    background-image: url("./imagens/livrito.jpg");
    background-attachment: fixed;
     background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
    background-position:0.1vmax;
}
p {
    font-size: 20px; color:white; text-align: center;
}
select {
    text-align: center;
    line-height: 200px;
    background-color:rgba(245, 245, 245, 0.762);
    background-position: center;
    border: 10px;
    padding: 5px;
    margin: 10px;
    border-radius: 20px;
    border-width: 50px;
    width: 250px;
}
input, button {
    border-radius: 20px;
    background-color: white;
    border-width: 0px;
    font-size: x-large;
    font-family: sans-serif;
}
div {
    text-align: center;
}