body {
    background-image: url("./imagens/livrito.jpg");
    background-attachment: fixed;
     background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
    background-position:0.1vmax;
}
div {
    text-align: center;
}
input, button {
    border-radius: 20px;
    margin: 5px;
    padding: 5px;
    background-color: white;
    border-color: white;
    font-size: large;
}
p {
    font-size: large;
    color: white;
    font-family: sans-serif;
}